/ServiceReply_TB.xml
/Service_TB.xml
/airquality.xml
/charge.xml
/chargeStation.xml
/charger.xml
/customer.xml
/faqboard.xml
/file.xml
/login.xml
/manager.xml
/map.xml
/noticeboard.xml
/ranking.xml
/weather.xml
